<nav>
    
    <a href="/">Homepage</a>
    <% if (user){ %>
    <a href="/auth/sign-out">Logout</a>

    <% } else{ %>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Login</a>

    <% } %>
    
</nav>
